# Builds
dist/
build/

# Dependency directory
node_modules/
package-lock.json

# OSX
.DS_Store/

# Editors
.vscode/

# specific
src/blockchain/
src/Btc/
src/constants/
src/Eth/
src/utils/
src/web/
src/webEth/
src/Xrp/
src/blockchain/
